@use '../styles/layout/grid' as *;

.code {
  &__content {
    padding: clamp(40px, 8vw, 96px) 0;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__text {
    padding-left: 2rem;

    h2 {
      font-size: clamp(24px, 3vw, 40px);
    }

    p {
      font-size: clamp(16px, 1.5vw, 20px);
      line-height: 1.5;
      margin-top: 1rem;
    }
  }
}
