@use '../abstracts/variables' as *;

@mixin grid-cols($count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
}

@mixin grid-rows($count, $height: $row-height) {
  grid-template-rows: repeat($count, $height);
}

.grid-15 {
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  column-gap: 30px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
